.three_shuichuang_div {
	width: 116px;
	background-image: url('https://eslink-iot.oss-cn-beijing.aliyuncs.com/widget-labelbg01.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 1px solid rgba(0, 255, 255, 0);
	font-family: PingFangSC-Regular, PingFang SC;
	margin-bottom: 40px;
}
.rightModel {
	top: 0rem;
	position: absolute;
	right: 20px;
}
.leftModel {
	position: relative;
	left: 2.4rem;
}
.headerGxL {
	top: 10rem;
	left: 20px;
}
.headerGxR {
	top: 10rem;
	right: 20px;
}
.three_title {
	display: block;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.three_content {
	display: block;
	height: 16px;
	font-size: 12px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 16px;
	margin-left: 8px;
	margin-bottom: 8px;
}
.three_alarm_content {
	color: red;
}
.three_state_diaoxian {
	position: relative;
	display: block;
	height: 16px;
	font-size: 12px;
	font-weight: 400;
	color: rgba(254, 230, 7, 1);
	line-height: 16px;
	margin-left: 16px;
	margin-top: 8px;
}
.three_button {
	position: absolute;
	width: 8px;
	height: 10px;
	margin-left: 100px;
	margin-top: 8px;
	background: url('https://eslink-iot.oss-cn-beijing.aliyuncs.com/widget-jinrubtn.png') no-repeat;
	background-size: 100%;
	pointer-events: auto;
	cursor: pointer;
}

.three_shuichuang_line {
	position: relative;
	width: 6px;
	height: 28px;
	background: url('https://eslink-iot.oss-cn-beijing.aliyuncs.com/widget-labelLine.svg') no-repeat;
	/* background-size: 100%; */
	font-family: PingFangSC-Regular, PingFang SC;
	margin-left: 12px;
}
.backPosition {
	position: absolute;
	/* left: 2.4rem; */
	top: 78rem;
}
.punpImgUp {
	position: absolute;
	right: 2rem;
	top: 2.3rem;
}
.gylc_contet {
	padding-left: 1.6rem;
	overflow: auto;
}
.imgDiv {
	position: relative;
	width: 43.2rem;
	height: 9.2rem;
	margin-top: 2.1rem;
	cursor: pointer;
	font-size: 2.4rem;
	padding-left: 2.4rem;
	font-weight: 500;
	line-height: 9.2rem;
}
.defaultColor {
	border: 1px solid #076792;
	background: #001239;
	color: #0ea3ce;
}
.activeColor {
	border: 1px solid #0fb7e6;
	background: #05376e;
	color: #c0e2f6;
}
.oneGy {
	background: #1676a6;
	color: #fff;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 75rem;
}
.mt10 {
	margin-top: 10px;
}

/* 水厂首页label */
.three-monitor-label-icon {
	border-radius: 100%;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background: #1d3952;
	border: 1px solid #3ce8ff;
	box-sizing: border-box;
	text-align: center;
	pointer-events: auto;
	cursor: pointer;
}
.three-monitor-label-icon .iconfont {
	font-size: 20px;
	margin: 0;
	color: #3ce8ff;
}
.three_montior_line {
	position: relative;
	width: 1px;
	height: 32px;
	background-color: #3ce8ff;
	margin: 0 auto;
}
