// 引入处理兼容性的公共样式
@import "normalize.css";

* {
    box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
textarea {
	border: 0;
	outline: none;
}
button {
	outline: none;
}
i {
	font-style: normal;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
	color: #333;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
.hidden {
	overflow: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-ellipsis { // 文字溢出
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
