// 引入处理兼容性的公共样式
@import 'normalize.css';

* {
  box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
    // user-select: none; // 禁用页面内容选中和复制操作
	// -webkit-overflow-scrolling: touch; // Safari 滚动回弹效果
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	outline: none;
	border: none;
	padding: 0; // 解决 Safari 端内容遮盖问题
	-webkit-appearance: none; // 去除 Safari 输入框默认样式
	color: #333333;
	&::-webkit-input-placeholder {
		color: #C6C6C6;
	}
	&:focus {
		color: #333;
	}
}
textarea {
	border: 0;
	outline: none;
}
button {
	outline: none;
}
i {
	font-style: normal;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
	color: #333;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
.hidden {
	overflow: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-ellipsis { // 文字溢出
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
